---
entries_layout: grid
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <hr>
      <div class="entry-content">
        {{ content }}
      </div>
        <hr>
        <script src="https://utteranc.es/client.js"
          repo="JM-mochi/JM-mochi.github.io"
          issue-term="title"
          theme="dark-blue"
          crossorigin="anonymous"
          async>
        </script>
      </div>
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
</main>
